<h1>Attribution des roles</h1>
<%# <%= link_to "Attribuer les rôles", edit_players_path(@game, @players), method: :patch %> %>

<%# <%= render "games/edit_players", players: @players %> %>

<p>Clique sur ton nom pour voir ton role</p>
<% @players.each do |player| %>
  <ul>
    <li><%= link_to player.username, game_player_path(@game, player) %></li>
  </ul>
<% end %>

<%= console %>
