<h1>Set Up & nuit</h1>

<p>Il est temps pour chaque joueur de découvrir son rôle !</p>

<p><%= @players.first.username %>, à toi de commencer. Clique sur ton nom pour voir ton role</p>
<% @players.each do |player| %>
  <ul>
    <li><%= link_to player.username, game_player_path(@game, player) %></li>
  </ul>
<% end %>

<%= console %>
