<h1>Players#show</h1>
<p>Find me in app/views/players/show.html.erb</p>

<p>Hello <%= @player.username.capitalize %> !</p>
<p>Ton parti est : <%= @player.party %></p>
<%# <p>Ton rôle est : <%= @player.role %></p> %>
